<%= form_for(dreport) do |f| %>
  <div class="row">
    <div class="col-sm-6">
<form class="form-inline">

    <div class="form-group">
    <%= f.label :patient_id, '患者ＩＤ' %>
    <%= f.text_field :patient_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :drt, '登録日時' %>
    <%= f.datetime_select :drt,
    :start_year => Time.now.year,
    :end_year => Time.now.year + 2,
    :use_month_numbers => true,
    :minute_step => 10 %>
  </div>

  <div class="form-group">
  <%= f.label :drs, '1s' %><%= f.text_area :drs, class: 'form-control', rows: 3 %>
  <%= f.label :dro, '1o' %><%= f.text_area :dro, class: 'form-control', rows: 3 %>
  <%= f.label :dra, '1a' %><%= f.text_area :dra, class: 'form-control', rows: 3 %>
  <%= f.label :drp, '1p' %><%= f.text_area :drp, class: 'form-control', rows: 3 %>
  </div>


  <button type="submit" class="btn btn-primary">投稿</button>
</form>

</div>
</div>
<% end %>