    <div class="sidebar-nav affix" role="complementary">

<div class="btn-group-vertical" role="group" aria-label="..." style="width:100%;">

<a href="javascript:history.back()" class="btn btn-warning btn-lg">戻る</a>

    <%= link_to 'ベッドマップ', patients_path, class: 'btn btn-info btn-block' %>
    <%= link_to '医師記録', dreport_path(@patient.id), class: 'btn btn-info btn-block' %>
    <%= link_to '看護記録', nreport_path(@patient.id), class: 'btn btn-info btn-block' %>
    <%= link_to '他職種記録', ereport_path(@patient.id), class: 'btn btn-info btn-block' %>
    <%= link_to '医師指示簿', dinstruction_path(@patient.id), class: 'btn btn-info btn-block' %>
    <%= link_to '看護指示簿', ninstruction_path(@patient.id), class: 'btn btn-info btn-block' %>
    <%= link_to '注射指示', injection_path(@patient.id), class: 'btn btn-info btn-block' %>
    <%= link_to '内服指示', naifuku_path(@patient.id), class: 'btn btn-info btn-block' %>
    <%= link_to '採血結果', kekka_path(@patient.id), class: 'btn btn-info bbtn-block' %>
    <%= link_to 'プロフィール', patient_path(@patient.id), class: 'btn btn-info btn-block' %>
    <%= link_to '看護計画', plan_path(@patient.id), class: 'btn btn-info btn-block' %>
    <%= link_to '転倒テンプレート', tentou_path(@patient.id), class: 'btn btn-info btn-block' %>
    <%= link_to '1号室検温表', graph_path(1), class: 'btn btn-success btn-block' %>
    <%= link_to '2号室検温表', graph_path(2), class: 'btn btn-success btn-block' %>
    <%= link_to '3号室検温表', graph_path(3), class: 'btn btn-success bbtn-block' %>
    <%= link_to '4号室検温表', graph_path(4), class: 'btn btn-success btn-block' %>
    <%= link_to '5号室検温表', graph_path(5), class: 'btn btn-success btn-block' %>


</div>

</div>