    <div class="sidebar-nav affix" role="complementary">

<div class="btn-group-vertical" role="group" aria-label="..." style="width:100%;">

<a href="javascript:history.back()" class="btn btn-warning btn-lg active">戻る</a>

    <%= link_to 'グラフ', graphs_path, class: 'btn btn-info btn-lg btn-block active' %>
    <%= link_to '看護記録', nreport_path(@patient.id), class: 'btn btn-info btn-lg btn-block active' %>
    <%= link_to '採血結果', kekka_path(@patient.id), class: 'btn btn-info btn-lg btn-block active' %>
    <%= link_to '看護計画', plan_path(@patient.id), class: 'btn btn-info btn-lg btn-block active' %>
    <%= link_to '転倒テンプレート', tentou_path(@patient.id), class: 'btn btn-info btn-lg btn-block active' %>


</div>

</div>